@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


.rotateAnimation90{
    transform:rotate(90deg);
    transition:all .4s ease-out;
}

.rotateAnimationReverse90{
    transform:rotate(0deg);
    transition:all .4s ease-out;
}


.btn{
    border-width:.5px;
}

.btn-primary{
    @apply p-2 border-tertiary text-primary uppercase hover:text-white hover:bg-secondary transition ease-out duration-300;
}

.divider{
    width:100%;
    position:relative;
    text-align:center;
}

.divider:before{
    content:"";
    position:absolute;
    left:0;
    display:block;
    top:50%;
    width:65px;
    background-color:#83781B;
    height:1px;
   

}

.divider:after{
    content:"";
    position:absolute;
    right:0;
    top:50%;
    width:65px;
    background-color:#83781B;
    height:1px;
    
} 
